#general {
	background: #edeef0;
	margin: 0 auto;
	border: 3px solid #4b77a8;
	width: 800px;
	-webkit-birder-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 5px 5px 5px 5px;
}

div.msg_container {
	
	margin-bottom: 10px;
	border: 2px solid #4b77a8;
	
}

.msg_header {

	background: #CCC;
	border-bottom: 1px solid #97b3cb;
	padding: 3px 3px 3px 3px;
	
}

.msg_body {

	padding: 10px 10px 10px 10px;
	
}

.msg_footer {

	background: #E5E5E5;
	border-top: 1px solid #97b3cb;
	padding: 5px 5px 5px 5px;
	color: #AAA;
	
}

.msg_header   a {

	color: black;
	
	
}

input, textarea {
	border: solid 2px #224b79;
	
	padding: 4px;
	outline: 0;
	font-family: 'Quicksand', sans-serif;
	color: #ffffff;
	width: 200px;
	background: #91acc9;
	-webkit-birder-radius: 4px;
	-moz-border-radius: 4px;
}

p label {
	margin-left: 10px;
	font-style: italic;
	color: #c0c0c0;
}

input [name="name"]{
	margin-top: 10px;
}

textarea {
	width: 400px;
	height: 150px;
	line-height: 150%;
}


.send input {
	width: auto;
	margin-bottom: 10px;
	border: 2px solid #224b79;
	font: Verdana, Geneva, sans-serif;
	background-color: #91acc9;
	font-size: 18px;
}



input:hover, textarea:hover, input:focus, textarea:focus {
	border-color: #ff0400;
}

.send input:hover {
	border: 2px solid #ff0400;
}

#mainform {

	margin-top: 20px;
	margin-left: 10px;
	border-top: 2px solid #4b77a8;
	
}
#general table {

	margin-left: 20px;
	margin-bottom: 20px;	

}

#general td {

	border: 1px solid #E5E5E5;
	padding: 10px 10px 10px 10px;

	
}	
#general h2  {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

.admin_login{
	width:300px;
	border:3px solid #4b77a8;
	padding:15px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-100px 0 0 -150px;
}